# Java
*.class

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.log
*.swp
*.swo
*.DS_Store
.vscode/

# OS
Thumbs.db
.DS_Store

# Test reports
/test-output/
/test-results/

# Others
*.log
*.tmp
*.bak
